################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZumaBot/obj
/ZumaBot/bin
/packages/System.ValueTuple.4.3.1
/.vs
